<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- [include base resources] start -->
    <link type="text/css" rel="stylesheet" href="config/base.css"/>
    <link type="text/css" rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="libs/layui/laydate/theme/default/laydate.css">
    <link type="text/css" rel="stylesheet" href="libs/layui/layer/theme/default/layer.css">
    <script src="config/base.js"></script>
    <script src="libs/angular.min.js/"></script>
    <script src="libs/jquery.min.js/"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/layui/laydate/laydate.js"></script>
    <script src="libs/layui/layer/layer.js"></script>
    <script src="libs/jquery.min.js/"></script>
    <script src="libs/jquery.min.js/"></script>
    <!-- [include base resources] end -->

</head>
<body>
<!-- top menu -->
<div class="cc-menu"></div>

</body>
</html>